.auth {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    189deg,
    rgba(162, 162, 163, 0.5) 0%,
    rgba(92, 168, 252, 0.5) 50%,
    rgba(0, 212, 255, 0.1) 100%
  );
  // .auth__form
  &__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    box-sizing: border-box;
    min-width: 20%;
    // .atuh__form_header 
    &_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > p {
        margin-bottom: 0;
        font-size: 22px;
        font-style: italic;
      }
      & > span {
        cursor: pointer;
        font-size: 20px;
      }
    }
    // .auth__form_button
    &_button {
      margin-bottom: 0 !important;
      & > div > div > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  // .form
  .form {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    & > div {
        margin-bottom: 20px;
    }
  }
}
