.title {
  text-align: center;
  margin-bottom: 50px;
}

.stampInformation {
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid #eee;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 40px;
  box-shadow: 0px 0px 5px 5px #eee;
  &__image {
    & > img {
      width: 400px;
    }
  }
  .currentStamp__information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__items {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-bottom: 20px;
        span {
          padding-left: 10px;
        }
      }
    }
  }
  .buttons {
    button {
      margin-right: 20px;
      &:hover {
        transition: 0.3s ease;
        transform: scale(1.1);
      }
    }
    &__home {
      border-bottom: 1px solid yellowgreen;
      &:hover {
        border-bottom-color: #40a9ff !important;
      }
    }
    &__update {
      border-bottom: 1px solid #40a9ff;
    }
    &__delete {
      border-bottom: 1px solid red;
      &:hover {
        border-bottom-color: #40a9ff !important;
      }
    }
  }
}
