.form {
    padding: 20px !important;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item_date {
        width: 100%;
        & > img {
            width: 300px;
            display: block;
            margin: 20px auto;
        }
    }
    &__item {
        width: 45%;
    }
}